In [1]:
import numpy as np
import pandas as pd #pip install pandas

In [2]:
a = np.array([10,20,30])
b = np.array([1,2,3])
print(a+b)

[11 22 33]

In [4]:
#Pandas Serise
s1 =  pd.Series([10,20,30],index=['a','b','c'])
s2 = pd.Series([1,2,3,4],index=['b','c','a','d'])
print(s1+s2)

a    13.0
b    21.0
c    32.0
d     NaN
dtype: float64

In [6]:
names = ['Alice', 'Bob', 'Charlie']
marks = [67,36,81]
Students = pd.Series(data=marks)
print(Students)
Students = pd.Series(data=marks,index=names)
print(Students)

0    67
1    36
2    81
dtype: int64
Alice      67
Bob        36
Charlie    81
dtype: int64

In [8]:
random_ages = np.random.randint(0,100,4)
names = ['Alice', 'Bob', 'Charlie','Dave']
people_array = pd.Series(data=random_ages,index=names)
print(people_array)

Alice      98
Bob        40
Charlie     3
Dave       97
dtype: int32

In [ ]:
name_age_dict = {'Alice':21,'Bob':26,'Charlie':23,}
print(pd.Series(name_age_dict))

Alice      21
Bob        26
Charlie    23
dtype: int64

In [13]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}

q2 = {'Brazil':100,'China':500,'India':210,'USA':260}
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)
print(sales_Q1)
print(sales_Q2)
print(sales_Q1['Japan'])
print(sales_Q1[0])

Japan     80
China    450
India    200
USA      250
dtype: int64
Brazil    100
China     500
India     210
USA       260
dtype: int64
80
80

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_12252\1046581995.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sales_Q1[0])

In [15]:
print(sales_Q1.keys())
print(sales_Q1*2)
print(sales_Q2/100)

Index(['Japan', 'China', 'India', 'USA'], dtype='object')
Japan    160
China    900
India    400
USA      500
dtype: int64
Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [16]:
print(sales_Q1 + sales_Q2)
print(sales_Q1.add(sales_Q2,fill_value=0))

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64
Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64